<!DOCTYPE html>
<html lang="en">

<head>
    <title>ห้องเรียนทั้งหมด</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-firestore-compat.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">

    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-auth-compat.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        .prompt-regular {
            font-family: "Prompt", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        body {
            font-family: Prompt;
        }

        .content2 {
            align-items: start;
            padding-top: 20px;
        }

        .menu-item {
            font-size: 18px;
        }

        .avatar-center img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }

        .custom-button {
            margin: 15px 0;
        }

        .max-width-card .v-card__text {
            padding: 10px;
        }

        .btn-smaller {
            font-size: 14px;
            margin-right: 5px;
        }

        .v-dialog {
            padding: 20px;
        }

        .v-card__title {
            font-size: 18px;
            padding: 16px;
        }

        .v-card__text {
            font-size: 16px;
            padding: 16px;
        }

        .v-btn {
            font-size: 14px;
        }

        .v-row {
            justify-content: center;
        }

        .title {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: bold;
            color: #045f8d;
        }

        .head {
            background: linear-gradient(to right, #045f8d, #037db6);
            color: white;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-container fluid>
                <v-app-bar app color="indigo" dark>
                    <v-app-bar-nav-icon @click.stop="toggleDrawer"></v-app-bar-nav-icon>
                    <v-toolbar-title>ยินดีต้อนรับ{{ isTeacher ? 'ครู' : 'นักเรียน'
                        }}สู่ระบบเช็คชื่อชั้นเรียนออนไลน์</v-toolbar-title>
                </v-app-bar>
                <v-navigation-drawer app v-model="drawer" color="indigo" dark fixed>
                    <v-list>
                        <v-card elevation="3">
                            <v-card-text v-if="user" class="avatar-center">
                                <v-avatar><img :src="user.photoURL" /></v-avatar>
                                <div style="text-align: center;">
                                    <div>{{ user.displayName }}</div>
                                    <div>{{ user.email }}</div>
                                </div>
                            </v-card-text>
                        </v-card>
                        <v-list-item v-if="!user" link @click="google_login()" class="menu-item">
                            <v-list-item-content class="custom-button">
                                เข้าสู่ระบบ
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item link @click="goToHome" class="menu-item">
                            <v-list-item-content class="home-text">
                                <v-list-item-title>หน้าหลัก</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item link @click="viewStudentDashboard" class="menu-item" v-if="user && !isTeacher">
                            <v-list-item-content class="home-text">
                                <v-list-item-title>เช็คชื่อ</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item link @click="viewAllroom" class="menu-item" v-if="user && !isTeacher"
                            style="background-color: white; color: #045f8d;">
                            <v-list-item-content class="home-text">
                                <v-list-item-title>ห้องเรียนที่เข้าร่วม</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item link @click="viewTAddcheckin" class="menu-item" v-if="user && isTeacher">
                            <v-list-item-content class="home-text">
                                <v-list-item-title>เพิ่มการเช็คชื่อ</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item link v-if="user && isTeacher" @click="viewAllroom" class="menu-item"
                            style="background-color: white; color: #045f8d;">
                            <v-list-item-content class="home-text">
                                <v-list-item-title>ห้องเรียน</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item link v-if="user && isTeacher" @click="viewTeacherDashboard" class="menu-item">
                            <v-list-item-content class="home-text">
                                <v-list-item-title>ตรวจสอบรายชื่อนักเรียน</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item v-if="user" link @click="google_logout()" class="menu-item">
                            <v-list-item-content class="custom-button">
                                ออกจากระบบ
                            </v-list-item-content>
                        </v-list-item>

                    </v-list>
                </v-navigation-drawer>
                <v-main>
                    <v-container fluid>
                        <v-row align="start" justify="center" v-if="user && isTeacher">
                            <v-col class="content2" cols="12" sm="6" md="6">
                                <v-row>
                                    <v-card class="max-width-card">
                                        <v-card>
                                            <v-card-title class="head">ห้องเรียนทั้งหมด</v-card-title>
                                            <v-card-text>
                                                <v-list v-if="checkinData.length > 0">
                                                    <v-list-item-group>
                                                        <template v-for="checkin in checkinData">
                                                            <v-list-item :key="checkin.id"
                                                                @click="goToClassroom(checkin.id)">
                                                                <v-list-item-content>
                                                                    <v-list-item-title class="title">วิชา:{{
                                                                        checkin.subject
                                                                        }}</v-list-item-title>
                                                                    <v-list-item-subtitle>รหัสห้องเรียน -> {{
                                                                        checkin.room
                                                                        }}</v-list-item-subtitle>
                                                                    <v-list-item-subtitle>วันที่ -> {{ new
                                                                        Date(checkin.class_date.toDate()).toLocaleDateString('th-TH',
                                                                        { year: 'numeric', month: 'long', day: 'numeric'
                                                                        }) }}</v-list-item-subtitle>

                                                                </v-list-item-content>
                                                                <v-list-item-action>
                                                                    <v-btn @click.stop="editRoomName(checkin.id)"
                                                                        class="btn-smaller"
                                                                        color="grey">แก้ไขชื่อวิชา</v-btn>
                                                                    <v-btn @click.stop="deleteCheckin(checkin.id)"
                                                                        class="btn-smaller" color="red">ลบ</v-btn>
                                                                    <v-btn @click.stop="goToAddQuestionPage(checkin.id)"
                                                                        class="btn-smaller"
                                                                        color="primary">เพิ่มคำถาม</v-btn>

                                                                </v-list-item-action>
                                                            </v-list-item>
                                                            <v-dialog v-model="dialogEditRoom" max-width="500px">
                                                                <v-card>
                                                                    <v-card-title
                                                                        class="head">แก้ไขชื่อห้องเรียน</v-card-title>
                                                                    <v-card-text>
                                                                        <v-text-field v-model="editedRoomName"
                                                                            label="ชื่อวิชาใหม่"
                                                                            outlined></v-text-field>
                                                                    </v-card-text>
                                                                    <v-card-actions>
                                                                        <v-btn color="primary"
                                                                            @click="saveRoomName">บันทึก</v-btn>
                                                                        <v-btn color="red darken-1"
                                                                            @click="cancelEditRoom">ยกเลิก</v-btn>
                                                                    </v-card-actions>
                                                                </v-card>
                                                            </v-dialog>
                                                        </template>
                                                    </v-list-item-group>
                                                    <v-divider></v-divider>
                                                </v-list>
                                            </v-card-text>
                                        </v-card>
                                    </v-card>
                                </v-row>
                            </v-col>
                        </v-row>
                        <v-row align="start" justify="center" v-if="user && !isTeacher">
                            <v-col class="content2" cols="12" sm="6" md="6">
                                <v-row>
                                    <v-card class="max-width-card">
                                        <v-card>
                                            <v-card-title class="head">ห้องเรียนที่เข้าร่วม</v-card-title>
                                            <v-card-text>
                                                <v-list v-if="checkinData.length > 0">
                                                    <v-list-item-group>
                                                        <template v-for="checkin in checkinData">
                                                            <template
                                                                v-if="checkin.attendees.some(attendee => attendee.email === user.email)">
                                                                <v-list-item :key="checkin.id"
                                                                    @click="goToClassroomSTD(checkin.id)">
                                                                    <v-list-item-content>
                                                                        <v-list-item-title class="title">วิชา: {{
                                                                            checkin.subject }}</v-list-item-title>
                                                                        <v-list-item-subtitle>วันที่ -> {{ new
                                                                            Date(checkin.class_date.toDate()).toLocaleDateString('th-TH',
                                                                            { year: 'numeric', month: 'long', day:
                                                                            'numeric' }) }}</v-list-item-subtitle>
                                                                    </v-list-item-content>
                                                                </v-list-item>
                                                            </template>
                                                        </template>
                                                    </v-list-item-group>
                                                    <v-divider></v-divider>
                                                </v-list>
                                            </v-card-text>
                                        </v-card>
                                    </v-card>
                                </v-row>
                            </v-col>
                        </v-row>
                    </v-container>

                </v-main>
            </v-container>
        </v-app>
    </div>

    <script type="module">
        const firebaseConfig = {
            apiKey: "AIzaSyAXFc03qWOzIApde7AvJACJ81Vg-dJOtWw",
            authDomain: "projectweb2565.firebaseapp.com",
            projectId: "projectweb2565",
            storageBucket: "projectweb2565.appspot.com",
            messagingSenderId: "1058912788198",
            appId: "1:1058912788198:web:2a7c2041e062d7a9f4e527",
            measurementId: "G-G79CWQ7PGL"
        };


        firebase.initializeApp(firebaseConfig);
        const db = firebase.firestore();

        const app = Vue.createApp({
            data() {
                return {
                    drawer: false,
                    user: null,
                    isTeacher: false,
                    checkinData: [],
                    dialogEditRoom: false,
                    editedRoomName: '',
                    selectedCheckinId: '',
                };
            },

            mounted() {
                firebase.auth().onAuthStateChanged((user) => {
                    if (user) {
                        this.user = user.toJSON();
                        this.checkUserRole();
                    } else {
                        this.user = null;
                    }
                });
                this.fetchCheckinData();
            },
            methods: {
                google_login() {
                    var provider = new firebase.auth.GoogleAuthProvider();
                    provider.addScope("profile");
                    provider.addScope("email");
                    firebase.auth().signInWithPopup(provider);
                },
                google_logout() {
                    firebase.auth().signOut()
                        .then(() => {
                            this.redirectToIndex();
                        })
                        .catch((error) => {
                            console.error("Logout error: ", error);
                        });
                },
                redirectToIndex() {
                    window.location.href = "/index.html";
                },
                checkUserRole() {
                    const email = this.user.email;
                    this.isTeacher = email.includes("@kku.ac.th");
                },

                fetchCheckinData() {
                    db.collection("checkin")
                        .get()
                        .then((querySnapshot) => {
                            this.checkinData = [];
                            querySnapshot.forEach((doc) => {
                                const checkin = doc.data();
                                const attendees = checkin.attendees.map((attendee) => ({
                                    email: attendee.email,
                                    name: attendee.name
                                }));
                                this.checkinData.push({ ...checkin, id: doc.id, attendees });
                            });
                        })
                        .catch((error) => {
                            console.error("Error fetching check-in data: ", error);
                        });
                },

                editRoomName(checkinId) {
                    this.dialogEditRoom = true;
                    this.selectedCheckinId = checkinId;
                },
                deleteCheckin(checkinId) {
                    if (confirm("Are you sure you want to delete this check-in?")) {
                        db.collection("checkin")
                            .doc(checkinId)
                            .delete()
                            .then(() => {
                                alert("Check-in deleted successfully!");
                                this.fetchCheckinData();
                            })
                            .catch((error) => {
                                console.error("Error deleting check-in: ", error);
                                alert("Error deleting check-in. Please try again.");
                            });
                    }
                },
                editRoomName(checkinId) {
                    const checkin = this.checkinData.find(item => item.id === checkinId);
                    this.editedRoomName = checkin.subject;
                    this.dialogEditRoom = true;
                    this.selectedCheckinId = checkinId;
                },
                saveRoomName() {
                    const checkinRef = db.collection("checkin").doc(this.selectedCheckinId);
                    checkinRef.update({
                        subject: this.editedRoomName
                    }).then(() => {
                        alert("ชื่อห้องเรียนถูกแก้ไขเรียบร้อยแล้ว!");
                        this.dialogEditRoom = false;
                        this.fetchCheckinData();
                    }).catch((error) => {
                        console.error("เกิดข้อผิดพลาดในการแก้ไขชื่อห้องเรียน: ", error);
                        alert("เกิดข้อผิดพลาดในการแก้ไขชื่อห้องเรียน");
                    });
                },
                cancelEditRoom() {
                    this.dialogEditRoom = false;
                    this.editedRoomName = '';
                },
                goToAddQuestionPage(checkinId) {
                    window.location.href = `/add_question.html?checkinId=${checkinId}`;
                },

                toggleDrawer() {
                    this.drawer = !this.drawer;
                },
                goToHome() {
                    window.location.href = "/index.html";
                },
                goToClassroom(checkinId) {
    
                        window.location.href = "/classroom.html?subjectId=" + checkinId;
                },


                goToClassroomSTD(checkinId) {
                    window.location.href = "/classroom.html?roomId=" + checkinId;
                },
                viewTAddcheckin() {
                    window.location.href = "/add-checkin.html";
                },
                viewAllroom() {
                    window.location.href = "/allroom.html";
                },
                viewTeacherDashboard() {
                    window.location.href = "/teacher_dashboard.html";
                },
                viewStudentDashboard() {
                    window.location.href = "/student_dashboard.html";
                },
            }
        });

        const vuetify = Vuetify.createVuetify();
        app.use(vuetify).mount("#app");
    </script>
</body>

</html>