<!DOCTYPE html>
<html lang="en">

<head>
    <title>Attendance System</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-auth-compat.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        .prompt-regular {
            font-family: "Prompt", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        body {
            font-family: Prompt;
        }

        .avatar-center {
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            justify-content: center;
            justify-items: center;
            margin-top: 5%;
            border-radius: 10px;
        }

        .avatar-center img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }

        .card-title {
            background: linear-gradient(to right, #045f8d, #037db6);
            color: white;
            padding: 10px;
            font-size: 18px;
        }

        .action-buttons v-btn {
            flex: 1;
            margin: 0 8px;
            background-color: #2196F3;
            color: white;
        }

        .menu-item {
            margin-top: 5%;
            display: flex;
            align-items: center;
        }

        .footer {
            background-color: #333;
            color: white;
            padding: 10px;
            position: relative;
            width: 100%;
        }

        .custom-button {
            color: white;
        }

        .email {
            color: #3e7d9b;
        }

        .username {
            color: #01579b;
            font-weight: bold;
        }

        .menu-card {
            border-radius: 10px;
        }

        .menu-title {
            background: linear-gradient(to right, #045f8d, #037db6);
            color: #ffffff;
        }

        .action-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #ffffff;
        }

        .v-btn {
            margin: 10px;
            width: 300px;
        }

        .v-btn__content {
            color: #000000;
        }

        .notLogin {
            color: red;
        }

        .footer {
            background-color: #01579b;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-app-bar app color="#01579b">
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title>ระบบเช็คชื่อชั้นเรียนออนไลน์</v-toolbar-title>
            </v-app-bar>

            <v-navigation-drawer app fixed v-model="drawer" color="indigo">
                <v-list>
                    <v-card elevation="3">
                        <v-card-text v-if="user" class="avatar-center">
                            <v-avatar><img :src="user.photoURL" /></v-avatar>
                            <div style="text-align: center;">
                                <div class="username">{{ user.displayName }}</div>
                                <div class="email">{{ user.email }}</div>
                            </div>
                        </v-card-text>
                    </v-card>

                    <v-list-item v-if="!user" link @click="google_login()" class="menu-item">
                        <v-list-item-content class="custom-button">
                            เข้าสู่ระบบ
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item link @click="goToHome" class="menu-item"
                        style="background-color: white; color: #045f8d;">
                        <v-list-item-content class="home-text">
                            <v-list-item-title>หน้าหลัก</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item link @click="viewStudentDashboard" class="menu-item" v-if="user && !isTeacher">
                        <v-list-item-content class="home-text">
                            <v-list-item-title>เช็คชื่อ</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item link @click="viewTAddcheckin" class="menu-item" v-if="user && isTeacher">
                        <v-list-item-content class="home-text">
                            <v-list-item-title>เพิ่มการเช็คชื่อ</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item v-if="user" link @click="google_logout()" class="menu-item">
                        <v-list-item-content class="custom-button">
                            ออกจากระบบ
                        </v-list-item-content>
                    </v-list-item>

                </v-list>
            </v-navigation-drawer>

            <v-main>
                <v-container>
                    <v-row justify="center">
                        <v-col cols="12" sm="8" md="6" v-if="isLoggedIn && !isRegistered && !isTeacher">
                            <v-card elevation="3" class="card">
                                <v-card-title class="card-title">Registration Form</v-card-title>
                                <v-card-text>
                                    <v-text-field v-model="registrationData.name" label="Full Name"></v-text-field>
                                    <v-text-field v-model="registrationData.email" label="Email"></v-text-field>
                                    <v-text-field v-model="registrationData.section" label="Section"></v-text-field>
                                    <v-btn @click="registerUser" color="success">Register</v-btn>
                                </v-card-text>
                            </v-card>
                        </v-col>

                        <!-- Registration Form for Teachers -->
                        <v-col cols="12" sm="8" md="6" v-if="isLoggedIn && !isRegistered && isTeacher && !user">
                            <v-card elevation="3" class="card">
                                <v-card-title class="card-title">Teacher Registration Form</v-card-title>
                                <v-card-text>
                                    <v-text-field v-model="registrationData.name" label="Full Name"></v-text-field>
                                    <v-text-field v-model="registrationData.email" label="Email"></v-text-field>
                                    <v-btn @click="registerUser" color="success">Register</v-btn>
                                </v-card-text>
                            </v-card>
                        </v-col>


                        <v-col cols="12" sm="8" md="6" v-if="isLoggedIn && isRegistered ">
                            <v-card elevation="3" class="card">
                                <v-card-title class="card-title">{{ title }}</v-card-title>
                                <v-card-text v-if="user" class="avatar-center">
                                    <v-avatar><img :src="user.photoURL" /></v-avatar>
                                    <div class="username">{{ user.displayName }}</div>
                                    <div class="email">{{ user.email }}</div>
                                </v-card-text>
                            </v-card>
                        </v-col>

                        <v-col cols="12" sm="8" md="6" v-else-if="!isLoggedIn">
                            <v-card elevation="3" class="card">
                                <v-card-title class="card-title">{{ title }}</v-card-title>
                                <v-card-text v-if="!user" class="avatar-center">
                                    <div class="notLogin">กรุณาเข้าสู่ระบบ</div>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>

                    <v-row justify="center">
                        <v-col cols="12" sm="8" md="6" v-if="isLoggedIn && !isRegistered && !isTeacher">
                            <v-card elevation="3" class="card">
                                <v-card-title class="card-title">เช็กชื่อ</v-card-title>
                                <v-card-actions class="d-flex justify-center">
                                    <v-btn @click="navigate('/student_dashboard.html')" v-if="!isTeacher"
                                        color="primary">เช็กชื่อ</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>

                    <v-row justify="center">
                        <v-col cols="12" sm="8" md="6" v-if="isLoggedIn && !isRegistered && isTeacher">
                            <v-card elevation="3" class="card">
                                <v-card-title class="card-title">เพิ่มการเช็คชื่อ</v-card-title>
                                <v-card-actions class="d-flex justify-center">
                                    <v-btn @click="navigate('/add-checkin.html')" v-if="isTeacher"
                                        color="primary">เพิ่มการเช็คชื่อ</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>



                </v-container>
            </v-main>
            <div class="footer">{{ footer }}</div>
        </v-app>
    </div>


    <script type="module">
        const firebaseConfig = {
            apiKey: "AIzaSyAXFc03qWOzIApde7AvJACJ81Vg-dJOtWw",
            authDomain: "projectweb2565.firebaseapp.com",
            projectId: "projectweb2565",
            storageBucket: "projectweb2565.appspot.com",
            messagingSenderId: "1058912788198",
            appId: "1:1058912788198:web:2a7c2041e062d7a9f4e527",
            measurementId: "G-G79CWQ7PGL"
        };
        firebase.initializeApp(firebaseConfig);
        const db = firebase.firestore();

        const app = Vue.createApp({
            data() {
                return {
                    title: "ยินดีต้อนรับสู่ระบบเช็คชื่อ",
                    footer: "footer",
                    user: null,
                    isTeacher: false,
                    drawer: false,
                    isLoggedIn: false,
                    isRegistered: false,
                    isTeacherRegistered: false,
                    registrationData: {
                        name: "",
                        email: "",
                        section: "",
                    },
                };
            },

            created() {
                firebase.auth().onAuthStateChanged(async (user) => {
                    if (user) {
                        this.user = user.toJSON();
                        this.checkUserRole();
                        this.isLoggedIn = true;
                        await this.$nextTick();
                        this.isRegistered = await this.checkRegistrationStatus();
                    } else {
                        this.user = null;
                        this.isLoggedIn = false;
                        this.isRegistered = false;
                    }
                });
            },

            methods: {
                google_login() {
                    var provider = new firebase.auth.GoogleAuthProvider();
                    provider.addScope("profile");
                    provider.addScope("email");

                    firebase.auth().signInWithPopup(provider)
                        .then((result) => {
                            console.log("Is registered:", this.isRegistered);
                            if (result.additionalUserInfo.isNewUser) {
                                this.isRegistered = false;
                                if (this.isTeacher) {
                                    console.log("Registering as a teacher");
                                    this.registerTeacherData();
                                } else {
                                    console.log("Registering as a student");
                                    this.registerStudentData();
                                }
                            } else {
                                this.isRegistered = true;  // เพิ่มบรรทัดนี้
                            }
                        })
                        .catch((error) => {
                            console.error("Login error: ", error);
                        });
                },

                async checkRegistrationStatus() {
                    const userDoc = await db.collection("students").doc(this.user.uid).get();
                    return userDoc.exists;
                },
                registerUser() {
                    if (this.isValidRegistrationData()) {
                        if (this.isTeacher) {
                            this.registerTeacherData();
                        } else {
                            this.registerStudentData();
                        }
                        this.registrationData.name = "";
                        this.isRegistered = false;
                        console.log("User registered successfully");
                    } else {
                        alert("Please fill in all fields.");
                    }
                },
                isValidRegistrationData() {
                    return (
                        this.registrationData.name &&
                        this.registrationData.email
                    );
                },
                registerTeacherData() {
                    db.collection("teachers").doc(this.user.uid)
                        .set({
                            id: this.user.uid,
                            name: this.registrationData.name,
                            email: this.registrationData.email,
                        })
                        .then(() => {
                            console.log("Teacher data added successfully");
                            this.isRegistered = true;
                        })
                        .catch((error) => {
                            console.error("Error adding teacher data: ", error);
                        });
                },
                registerStudentData() {
                    db.collection("students").doc(this.user.uid)
                        .set({
                            id: this.user.uid,
                            name: this.registrationData.name,
                            email: this.registrationData.email,
                            section: this.registrationData.section,
                        })
                        .then(() => {
                            console.log("Student data added successfully");
                            this.isRegistered = true;
                        })
                        .catch((error) => {
                            console.error("Error adding student data: ", error);
                        });
                },
                google_logout() {
                    if (confirm("Are you sure?")) {
                        firebase.auth().signOut();
                    }
                },
                checkUserRole() {
                    const email = this.user.email;
                    this.isTeacher = email.includes("@kkumail");
                },
                viewStudentDashboard() {
                    window.location.href = "/student_dashboard.html";
                },
                viewTAddcheckin() {
                    window.location.href = "/add-checkin.html";
                },
                navigate(path) {
                    window.location.href = path;
                },
                goToHome() {
                    window.location.href = "/index.html";
                },
            },
        });

        const vuetify = Vuetify.createVuetify();
        app.use(vuetify).mount("#app");
    </script>

</body>

</html>