<!DOCTYPE html>
<html lang="en">

<head>
    <title>สำหรับคุณครู</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-firestore-compat.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">

    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-auth-compat.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        .prompt-regular {
            font-family: "Prompt", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        body {
            font-family: Prompt;
        }

        .avatar-center {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .avatar-center img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }

        .content {
            margin-top: 5%;
        }

        .subject-list {
            border-right: 1px solid #ccc;
            padding-right: 20px;
        }

        .student-list {
            padding-left: 20px;
        }

        .menu-title {
            background: linear-gradient(to right, #045f8d, #037db6);
            color: #ffffff;
        }

        .highlighted {
            cursor: pointer;
            font-weight: bold;
            color: #045f8d;
        }
        
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-app-bar app color="indigo" dark>
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title>ระบบเช็คชื่อชั้นเรียนออนไลน์ (for teacher)</v-toolbar-title>
            </v-app-bar>
            <v-navigation-drawer app v-model="drawer" color="indigo" dark fixed>
                <v-list>
                    <v-card elevation="3">
                        <v-card-text v-if="user" class="avatar-center">
                            <v-avatar><img :src="user.photoURL" /></v-avatar>
                            <div style="text-align: center;">
                                <div>{{ user.displayName }}</div>
                                <div>{{ user.email }}</div>
                            </div>
                        </v-card-text>
                    </v-card>

                    <v-list-item v-if="!user" link @click="google_login()" class="menu-item">
                        <v-list-item-content class="custom-button">
                            เข้าสู่ระบบ
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item link @click="goToHome" class="menu-item">
                        <v-list-item-content class="home-text">
                            <v-list-item-title>หน้าหลัก</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item link @click="viewTAddcheckin" class="menu-item" v-if="user && isTeacher">
                        <v-list-item-content class="home-text">
                            <v-list-item-title>เพิ่มการเช็คชื่อ</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item link v-if="user && isTeacher" @click="viewAllroom" class="menu-item">
                        <v-list-item-content class="home-text">
                            <v-list-item-title>ห้องเรียน</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item link v-if="user && isTeacher" @click="viewTeacherDashboard" class="menu-item"
                        style="background-color: white; color: #045f8d;">
                        <v-list-item-content class="home-text">
                            <v-list-item-title>ตรวจสอบรายชื่อนักเรียน</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>


                    <v-list-item v-if="user" link @click="google_logout()" class="menu-item">
                        <v-list-item-content class="custom-button">
                            ออกจากระบบ
                        </v-list-item-content>
                    </v-list-item>

                </v-list>
            </v-navigation-drawer>

            <v-container fluid>
                <v-row class="content" align="center" justify="center">
                    <v-col cols="12" sm="8" md="6">
                        <v-card elevation="3">
                            <v-card-title class="menu-title">{{ title }}</v-card-title>
                            <v-row>
                                <v-col cols="12" class="subject-list" style="padding: 2%; margin-top: 2%;">
                                    <v-list>
                                        <v-list-item>
                                            <v-list-item-title class="highlighted text-center">เลือกห้องเรียน</v-list-item-title>
                                        </v-list-item>
                                        <v-list-item v-for="subject in subjects" :key="subject.id"
                                            @click="goToClassroom(subject.id)">
                                            <v-list-item-title>{{ subject.name }}</v-list-item-title>
                                        </v-list-item>
                                    </v-list>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>
                <div class="pa-6 text-center">{{ footer }}</div>
            </v-container>
        </v-app>
    </div>

    <script type="module">
        const firebaseConfig = {
            apiKey: "AIzaSyAXFc03qWOzIApde7AvJACJ81Vg-dJOtWw",
            authDomain: "projectweb2565.firebaseapp.com",
            projectId: "projectweb2565",
            storageBucket: "projectweb2565.appspot.com",
            messagingSenderId: "1058912788198",
            appId: "1:1058912788198:web:2a7c2041e062d7a9f4e527",
            measurementId: "G-G79CWQ7PGL"
        };
        firebase.initializeApp(firebaseConfig);
        const db = firebase.firestore();

        const app = Vue.createApp({
            data() {
                return {
                    title: "ตรวจสอบรายชื่อนักเรียน",
                    footer: "footer",
                    user: null,
                    isTeacher: false,
                    drawer: false,
                    checkinDetailsDialog: false,
                    selectedCheckin: {},
                    subjects: [],
                    selectedSubject: null,
                    checkins: [],
                    studentDetailsDialog: false,
                    selectedStudent: null,
                    itemHighlighted: false,
                    headers: [
                        { text: 'ชื่อ', value: 'name' }
                    ]
                };
            },


            mounted() {
                firebase.auth().onAuthStateChanged((user) => {
                    if (user) {
                        this.user = user.toJSON();
                        this.checkUserRole();
                        this.readSubjectsFromFirestore();
                    } else {
                        this.user = null;
                    }
                });
            },

            methods: {
                google_login() {
                    var provider = new firebase.auth.GoogleAuthProvider();
                    provider.addScope("profile");
                    provider.addScope("email");
                    firebase.auth().signInWithPopup(provider);
                },
                google_logout() {
                    firebase.auth().signOut()
                        .then(() => {
                            this.redirectToIndex();
                        })
                        .catch((error) => {
                            console.error("Logout error: ", error);
                        });
                },

                redirectToIndex() {
                    window.location.href = "./index.html";
                },
                checkUserRole() {
                    const email = this.user.email;
                    this.isTeacher = email.includes("@kku.ac.th");
                },

                navigate(path) {
                    window.location.href = path;
                },
                goToHome() {
                    window.location.href = "./index.html";
                },
                readSubjectsFromFirestore() {
                    db.collection("checkin")
                        .get()
                        .then((querySnapshot) => {
                            const subjects = [];
                            const checkins = [];
                            querySnapshot.forEach((doc) => {
                                const data = doc.data();
                                const subject = { id: doc.id, name: data.subject };
                                subjects.push(subject);
                                checkins.push({ id: doc.id, room: data.room });
                            });
                            this.subjects = subjects;
                            this.checkins = checkins;
                        })
                        .catch((error) => {
                            console.error("Error reading subjects data from Firestore: ", error);
                        });
                },

                selectSubject(subject) {
                    this.selectedSubject = subject;
                    db.collection("checkin")
                        .doc(subject.id)
                        .get()
                        .then((doc) => {
                            if (doc.exists) {
                                const data = doc.data();
                                this.selectedSubject.students = data.attendees.map(attendee => ({ id: attendee.id, name: attendee.name, section: attendee.section }));
                            } else {
                                console.error("No such document!");
                            }
                        })
                        .catch((error) => {
                            console.error("Error getting document:", error);
                        });
                },
                getRoom(subjectId) {
                    const checkin = this.checkins.find(checkin => checkin.id === subjectId);
                    return checkin ? checkin.room : '';
                },
                showStudentDetails(student) {
                    this.selectedStudent = student;
                    this.studentDetailsDialog = true;
                },
                closeStudentDetailsDialog() {
                    this.studentDetailsDialog = false;
                },
                goToClassroom(subjectId) {
                    window.location.href = "./classroom.html?subjectId=" + subjectId;
                },
                viewTAddcheckin() {
                    window.location.href = "./add-checkin.html";
                },
                viewAllroom() {
                    window.location.href = "./allroom.html";
                },
                viewTeacherDashboard() {
                    window.location.href = "./teacher_dashboard.html";
                },

            },
        });

        const vuetify = Vuetify.createVuetify();
        app.use(vuetify).mount("#app");
    </script>
</body>

</html>